body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.app {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #333;
}

.search-bar {
  margin-bottom: 20px;
}

.game-input {
  color: #333;
  background-color: white;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.store-checkboxes {
  margin-top: 10px;
}

.store-checkboxes label {
  margin-right: 15px;
}

.sorting-options {
  margin-bottom: 20px;
  color: #333;
}

.sorting-options label {
  margin-right: 15px;
}

.price-range input {
  background-color: white;
  color: #333;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #0004ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  text-align: center;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.game-card {
  color:rgba(0, 0, 0);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: calc(33.33% - 40px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

.game-image {
  max-width: 100%;
  border-radius: 5px;
}

.buy-button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.buy-button:hover {
  background-color: #218838;
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.about-link {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
  z-index: 1000;
}

.about-link:hover {
  text-decoration: underline;
}

/* Стили для модального окна */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  color:rgba(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
  margin-top: 0;
}

.close-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 405px;
}

.close-button:hover {
  background-color: #0056b3;
}

.disclaimer {
  text-align: center;
  color: rgba(0, 0, 0, 0.6); /* Полупрозрачный текст */
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон */
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px; /* Отступ сверху */
  margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для выпадающего списка магазинов */
.store-dropdown {
  color:rgba(0, 0, 0, 0.6);
  position: relative;
  display: inline-block;
}

.store-dropdown-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.store-dropdown-button:hover {
  background-color: #0056b3;
}

.store-dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.store-dropdown-content label {
  display: block;
  margin: 5px 0;
}